/* Você vai precisar trocar a cor dos botões e alguns textos!
  VERDE = "#2FBE34"
  AMARELO = "#FF922E"
  VERMELHO = "#FF3030"
  CINZA = "#333333" 
*/

.resultados{
  display: flex;
  width: 100%;
  margin: 10px 2px 10px 2px;
}

.resultados img{
  width: 5px;
  height: 5px;
}